*{
   
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* this is flex-container */
.container{
    
    width:100vw;
    height:100vh;
    overflow-x: hidden;

}
/* this is flex-item */
.store{  
    margin:auto;
    min-height:100%;
    /* after giving this it is overflowing in x-direaction so we change that in container */
    width:60%;
    /* background-color:violet; */
    /* bring this one to center */
}

h1{
    /* border: 1px solid black;  */
    font-family: cursive;
    font-size:60px;
    text-align: center;
    /* to get space we go for box model */
    padding:30px;   
    color: red;
    background-color: black;

}
h1:hover{
    background-color:red;
    color:black
}

.shoes{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    justify-content: space-between;
}
.card{
    border-radius:30px ;
    /* border:1px solid black; */
    width:30%;
    min-height:350px;
    padding:10px;
    box-shadow: 7px 7px 10px rgb(201,201,201);
    margin-bottom: 25px;
}
.image{
    width:100%;
    height:290px;
    overflow:hidden;
    border-radius:30px;

}  

.image > img{
    border-radius:20px ;
    width:100%;
    height:100%;
    object-fit:cover;
}
.image>img:hover{
    scale:1.2;
    transition: 0.4s all ease-out;
}


.details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.description{
    display: flex;
    flex-direction: column;
    gap:6px;

}
.cart>img{
    width:40px;
}
